

@model RenocanWeb.Models.Login
@*@{
        ViewBag.Title = "Business Login";
    }*@

<body>
   
    <div id="signing">
        <div class="content">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            <fieldset>
                <label for="">Email Address</label>
                @Html.TextBoxFor(m => m.Email, new { type = "email", placeholder = "", @maxlength = "50" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-red" })

            </fieldset>
            <fieldset>
                <label for="">Password</label>
                @Html.TextBoxFor(m => m.Password, new { placeholder = "", @maxlength = "50" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-red" })

            </fieldset>
            <fieldset>
                <span class="forgot"> @Html.ActionLink("Forgot Password?", "CompanyPasswordRecovery", "Business_Home")</span>
            </fieldset>
            <input type="submit" value="Sign In">

            <div class="social">
                <span>Sign In with Social Accounts</span>
                <ul>
                    <li><a href="" class="facebook"><i class="fa fa-facebook-official"></i></a></li>
                    <li><a href="" class="twitter"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="" class="googleplus"><i class="fa fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <!--<div class="error"><span><i class="fa fa-times"></i> Password Do Not Match</span></div>-->
            }
        </div>
    </div>


</body>
