@Html.Raw(TempData["msg"])

@model RenocanWeb.Models.Company_Search
@*@{
        ViewBag.Title = "Company search";
    }*@


<body>
    <div class="overlay"></div>

    <div id="companysearch">
        <div class="content">


            <span>Search for Company</span>
            <form method="post">
                @Html.AntiForgeryToken()
                <fieldset>
                    @Html.TextBoxFor(m => m.CompanyName, new { placeholder = "Company Name", @maxlength = "50" })
                    @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-red" })
                </fieldset>
                <fieldset>

                    @Html.TextBoxFor(m => m.Location, new { placeholder = "Toronto", @maxlength = "50" })
                    @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-red" })
                </fieldset>
                <fieldset>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </fieldset>
            </form>
            <div class="result">
                <span>Results: <a href=""><b>Unilever Pvt Ltd.</b></a></span>
                <ul>
                    <li>Can't Find Company?</li>
                    <li><i class="fa fa-dot-circle-o"></i> Check the Spell of Company Name</li>
                    <li><i class="fa fa-dot-circle-o"></i> Make sure company established in Canada</li>
                    <li><i class="fa fa-dot-circle-o"></i> Make sure Company is Authentic</li>
                    <li><i class="fa fa-dot-circle-o"></i> <a href="">Review as a New Company</a></li>
                </ul>
            </div>

        </div>

    </div>


    <hr>
</body>

