@model RenocanWeb.Models.RegistrationCompanyListing

@*@{
        ViewBag.Title = "Businessscoreboard";
    }*@

<body>
    <div id="businessdb">
        <div class="content">
            <div class="left">
                <div class="profile">
                    <img id="uploadedImage" src="../@Model.Image_Name" />

                    <div class="details">
                        <span class="name">
                            @Model.CompanyName
                        </span>
                        <span class="city">
                            @Model.PostalCode
                        </span>
                        <div class="upload">

                            <i class="fa fa-camera" id="uploadIcon" title="Upload Image"></i>
                            <input type="file" id="imageBrowes" style="display: none;" />

                            <div id="imgPreview" class="thumbnail" style="display:none">
                                <img class="img-responsive" id="targetImg" src="../@Model.Image_Name" />

                                <div class="caption">
                                    <a href="#" onclick="ClearPreview()"><i class="glyphicon glyphicon-trash"></i></a>
                                    <span id="description"></span>
                                </div>
                                <a href="#" class="fa fa-camera" onclick="Uploadimage()">Upload</a>
                            </div>

                            <!--<button type="file" name="image" class="remove"><i class="fa fa-times-circle"></i> Remove Picture</button>-->
                            <span>.jpg .png allowed only max: 2mb</span>
                        </div>
                    </div>
                </div>

                <div class="menu">
                    <ul>
                        <li><a href=""><i class="fa fa-clock-o"></i> @Html.ActionLink("Activity", "Activity", "Business_Home")</a></li>

                        <li><i class="fa fa-list-ul"></i>@Html.ActionLink("Company Listing", "Listing", "Business_Home")</li>
                        <li><a href=""><i class="fa fa-money"></i> Payment Setting</a></li>
                        <li><i class="fa fa-photo"></i>@Html.ActionLink("Galleries", "Media", "Business_Home")</li>
                        <li><i class="fa fa-comments"></i>@Html.ActionLink("Reviews", "Reviews", "Business_Home")</li>
                        <li class="active"><a href=""><i class="fa fa-bar-chart"></i> Scoreboard</a></li>
                        <li><i class="fa fa-briefcase"></i> @Html.ActionLink("toolkit", "toolkit", "Business_Home")</li>
                        <li><i class="fa fa-building"></i>@Html.ActionLink("Company Information", "Company_profile", "Business_Home")</li>
                        <li><i class="fa fa-building"></i>@Html.ActionLink("Change Password", "CompanyChangePassword", "Business_Home")</li>
                        <li><a href='@Url.Action("LogOut","Business_Home")'><i class="fa fa-sign-out"></i> Log Out</a></li>

                    </ul>
                </div>
            </div>

            <div class="right">
                <span class="heading"><i class="fa fa-bar-chart"></i> Scoreboard</span>
                <div class="score">
                    <div class="star">
                        <span class="head">Overall Score</span>
                        <span class="rating"><strong><i class="fa fa-star"></i> 9</strong>/10</span>
                    </div>
                    <div class="bars">
                        <span class="head">Scores</span>
                        <p>Average Ratings</p>
                        <div class="meter">
                            <span style="width:25%;"></span>
                        </div>
                        <p>Recency</p>
                        <div class="meter">
                            <span style="width:45%;"></span>
                        </div>
                        <p>Reputation</p>
                        <div class="meter">
                            <span style="width:55%;"></span>
                        </div>
                        <p>Response</p>
                        <div class="meter">
                            <span style="width:35%;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>



    $(document).ready(function () {

        $("#imageBrowes").change(function () {

            var File = this.files;

            if (File && File[0]) {
                ReadImage(File[0]);
            }

        })

    })


    var ReadImage = function (file) {

        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);
        reader.onload = function (_file) {

            image.src = _file.target.result;
            image.onload = function () {

                var height = this.height;
                var width = this.width;
                var type = file.type;
                var size = ~~(file.size / 1024) + "KB";

                $("#targetImg").attr('src', _file.target.result);
                $("#description").text("Size:" + size + ", " + height + "X " + width + ", " + type + "");
                $("#imgPreview").show();

            }

        }

    }

    var ClearPreview = function () {
        $("#imageBrowes").val('');
        $("#description").text('');
        $("#imgPreview").hide();

    }

    var Uploadimage = function () {

        var file = $("#imageBrowes").get(0).files;

        var data = new FormData;
        data.append("ImageFile", file[0]);


        $.ajax({

            type: "Post",
            url: "../Business_Home/ImageUpload",
            data: data,
            contentType: false,
            processData: false,
            success: function (response) {
                ClearPreview();
                var url = '../' + response;

                //$("#uploadedImage").append('<img src=' + url + ' class="img-responsive thumbnail"/>');
                $("#uploadedImage").attr('src', url);


            }

        })


        //
    }
    $("#uploadIcon").click(function () {
        $("input[type='file']").trigger('click');
    });


</script>