
<div id="header">
    <div class="headmain">
        <div class="logo">
            <a href=""><img src="~/Assets/images/logo.png" alt=""></a>
        </div>
        <div class="navigation">
            <ul>

                <li>@Html.ActionLink("Write a Review", "Write_a_review", "ClientAccount")</li>

                <li> @Html.ActionLink(" Browse category", "Browse_category", "Business_Home")</li>
                <li> @Html.ActionLink(" Sign Up", "Client_Sign_up", "ClientAccount") </li>
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Login
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li> @Html.ActionLink(" Business Login", "Business_login", "Business_Home")</li>
                        <li> @Html.ActionLink(" Client Login", "Client_login", "ClientAccount")</li>
                        <li> @Html.ActionLink(" Admin ", "Business_login", "Business_Home")</li>
                    </ul>
                </li>



                <li><a href='@Url.Action("Company_search", "Business_Home")' id="search"> <img src='@Url.Content("~/Assets/images/search-icon.png")'/>Search</a></li>
                <li><a href='@Url.Action("BusinessSignUp", "Home")'><button> Business Sign Up</button></a></li>
            </ul>
        </div>
        <div class="mobnav">
            <a href="" class="search" id="searchmob"><i class="fa fa-search"></i></a>
            <a href="" class="menu" id="menu"><i class="fa fa-bars"></i></a>
        </div>
    </div>
</div>
