
<div id="header">
    <div class="headmain">
        <div class="logo">
            <a href=""><img src="~/Assets/images/logo.png" alt=""></a>
        </div>
        <div class="navigation">
            <ul>

                <li>@Html.ActionLink("Write a Review", "Write_a_review", "ClientAccount")</li>

               <li> @Html.ActionLink(" Browse category", "Browse_category", "Business_Home")</li>
               <li> @Html.ActionLink(" Sign Up", "Client_Sign_up", "ClientAccount") </li>
               <li> @Html.ActionLink(" Login", "Business_login", "Business_Home")</li>
                <li><a href="" id="search"><img src="~/Assets/images/search-icon.png" alt=""> @Html.ActionLink("Search", "Company_search", "Business_Home")</a></li>
                <li><a href=""><button> @Html.ActionLink("Business Sign Up", "BusinessSignUp", "Home")</button></a></li>
            </ul>
        </div>
        <div class="mobnav">
            <a href="" class="search" id="searchmob"><i class="fa fa-search"></i></a>
            <a href="" class="menu" id="menu"><i class="fa fa-bars"></i></a>
        </div>
    </div>
</div>

