@model RenocanWeb.Models.RegistrationCompany
@*@{
        ViewBag.Title = "write a review";
    }*@
<body>
    <div id="companies">
        <div class="content">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <div class="heading">
                        <span class="title"><h2>Searching Result </h2> </span>
                        <p>Listed below are written reviews and ratings from homeowners sharing their renovation experiences with bathroom contractors. Renovating your bathroom not only produces a solid return on your investment, it also improves space efficiency and water use. Choose a bathroom company who can design and remodel your bathroom to include quality showers and baths, install or replace sinks and faucets, and add luxury features such as heated floors. When remodeling or fixing up a bathroom, check out our members comments on bathroom contractors to help you decide who to hire and who to avoid.</p>
                    </div>

                    <div class="filter">
                        <div class="search">
                            @*<form method="post">*@
                                <input type="text" placeholder="Category Name" id="txtCategoryName">
                                <input type="text" placeholder="City Name" id="txtCityName">
                                @*@Html.TextBoxFor(m => m, new { placeholder = "City", @maxlength = "50" })
                                @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-red" })*@
                                <button type="submit" onclick="getCompanies(), getvalues();" id="get"><i class="fa fa-search"></i></button>
                            @*</form>*@
                        </div>

                        <div class="sort">
                            <span>Sort By:</span>
                            <label><input type="radio" name="options" value="radio" id="highrating"> Customer rating</label>
                            <label><input type="radio" name="options" value="radio" id="recently"> Recently</label>
                            <label><input type="radio" name="options" value="radio" id="lowrating"> Lowest Ratings</label>
                        </div>

                    </div>


                    @*@Html.Partial("~/Views/Shared/_Company_List.cshtml", Model)*@
                    <div id="companysearchResult"></div>

                    @*<div class="box">
                        <div class="favorite">
                            <!--<a href=""><i class="fa fa-bookmark-o"></i></a>-->
                            <a href=""><i class="fa fa-bookmark"></i></a>
                        </div>
                        <div class="img">
                            <img src="~/Assets/images/company-logo-06.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="name">Unilever Private Ltd.</div>
                            <div class="review">
                                <div class="stars"><i class="fa fa-star"></i> 9 <span>/10</span></div>
                                <div class="total"><span>Total Reviews:</span> 470</div>
                                <div class="badge silver"><i class="fa fa-certificate"></i> Top Contractor</div>

                            </div>
                            <div class="contact">
                                <ul>
                                    <li><a href=""><i class="fa fa-comment"></i> Get a Quote</a></li>
                                    <li><a href=""><i class="fa fa-phone"></i> Phone</a></li>
                                    <li><a href=""><i class="fa fa-envelope"></i> Email</a></li>
                                    <li><a href=""><i class="fa fa-globe"></i> Website</a></li>
                                    <li><a href=""><i class="fa fa-edit"></i> Write a Review</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="desc">
                            At Unilever we meet everyday needs for nutrition, hygiene and personal care with brands that help people feel good, look good and get more out of life.
                        </div>
                    </div>
                    <div class="box">
                        <div class="favorite">
                            <a href=""><i class="fa fa-bookmark-o"></i></a>
                            <!--<a href=""><i class="fa fa-bookmark"></i></a>-->
                        </div>
                        <div class="img">
                            <img src="~/Assets/images/company-logo-06.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="name">Unilever Private Ltd.</div>
                            <div class="review">
                                <div class="stars"><i class="fa fa-star"></i> 9 <span>/10</span></div>
                                <div class="total"><span>Total Reviews:</span> 470</div>
                                <div class="badge bronze"><i class="fa fa-certificate"></i> Rising Contractor</div>

                            </div>
                            <div class="contact">
                                <ul>
                                    <li><a href=""><i class="fa fa-comment"></i> Get a Quote</a></li>
                                    <li><a href=""><i class="fa fa-phone"></i> Phone</a></li>
                                    <li><a href=""><i class="fa fa-envelope"></i> Email</a></li>
                                    <li><a href=""><i class="fa fa-globe"></i> Website</a></li>
                                    <li><a href=""><i class="fa fa-edit"></i> Write a Review</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="desc">
                            At Unilever we meet everyday needs for nutrition, hygiene and personal care with brands that help people feel good, look good and get more out of life.
                        </div>
                    </div>
                    <div class="box">
                        <div class="favorite">
                            <a href=""><i class="fa fa-bookmark-o"></i></a>
                            <!--<a href=""><i class="fa fa-bookmark"></i></a>-->
                        </div>
                        <div class="img">
                            <img src="~/Assets/images/company-logo-06.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="name">Unilever Private Ltd.</div>
                            <div class="review">
                                <div class="stars"><i class="fa fa-star"></i> 9 <span>/10</span></div>
                                <div class="total"><span>Total Reviews:</span> 470</div>
                                <div class="badge gold"><i class="fa fa-certificate"></i> Best of 2017</div>

                            </div>
                            <div class="contact">
                                <ul>
                                    <li><a href=""><i class="fa fa-comment"></i> Get a Quote</a></li>
                                    <li><a href=""><i class="fa fa-phone"></i> Phone</a></li>
                                    <li><a href=""><i class="fa fa-envelope"></i> Email</a></li>
                                    <li><a href=""><i class="fa fa-globe"></i> Website</a></li>
                                    <li><a href=""><i class="fa fa-edit"></i> Write a Review</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="desc">
                            At Unilever we meet everyday needs for nutrition, hygiene and personal care with brands that help people feel good, look good and get more out of life.
                        </div>
                    </div>
                    <div class="box">
                        <div class="favorite">
                            <a href=""><i class="fa fa-bookmark-o"></i></a>
                            <!--<a href=""><i class="fa fa-bookmark"></i></a>-->
                        </div>
                        <div class="img">
                            <img src="~/Assets/images/company-logo-06.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="name">Unilever Private Ltd.</div>
                            <div class="review">
                                <div class="stars"><i class="fa fa-star"></i> 9 <span>/10</span></div>
                                <div class="total"><span>Total Reviews:</span> 470</div>
                                <div class="badge gold"><i class="fa fa-certificate"></i> Best of 2017</div>

                            </div>
                            <div class="contact">
                                <ul>
                                    <li><a href=""><i class="fa fa-comment"></i> Get a Quote</a></li>
                                    <li><a href=""><i class="fa fa-phone"></i> Phone</a></li>
                                    <li><a href=""><i class="fa fa-envelope"></i> Email</a></li>
                                    <li><a href=""><i class="fa fa-globe"></i> Website</a></li>
                                    <li><a href=""><i class="fa fa-edit"></i> Write a Review</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="desc">
                            At Unilever we meet everyday needs for nutrition, hygiene and personal care with brands that help people feel good, look good and get more out of life.
                        </div>
                    </div>*@




                    <div class="load"><a href=""><i class="fa fa-spinner"></i> Load More</a></div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="rightpanel">
                        <div class="newcompany">
                            <span>Can't find a company?</span>
                            <p>Add a new company to share your review.</p>
                           @Html.ActionLink("Review a New Company", "Write_a_review", "ClientAccount")

                        </div>
                        <div class="addcompany">
                            <span>Company Not Listed?</span>
                            <p>List your home care or renovation business on RenoCan.</p>
                          
                            @Html.ActionLink("Add your Company", "BusinessSignUp", "Home")
                     
                        </div>
                        <div class="newsletter">
                            <span class="title">Want to be the first to know everything? <br><u>Join our newsletter.</u></span>
                            <form action="">
                                <input type="text" placeholder="Enter your Email...">
                                <input type="submit" value="Subscribe">
                                <p>Plus, instant access to our exclusive guide: “Make the Right Choice: A 10-Minute Guide to Not Messing Up Your Next Purchase”.</p>
                            </form>
                        </div>
                        <div class="aboutus">
                            <span class="title">We are RenoCan.com</span>
                            <p>We find the best of everything. How? We start with the world. We narrow down our list with expert insight and cut anything that doesn't meet our standards. We hand-test the finalists. Then, we name our top picks.</p>
                            @*<a href="">Learn More About Us</a>*@
                            @Html.ActionLink("Learn More About Us", "Index", "Home")
                        </div>
                        <div class="topcat">
                            <span class="heading">Top Categories</span>
                            <span class="title">Decorators &amp; Designers</span>
                            <ul>
                                <li><a href="">Art &amp; Print</a></li>
                                <li><a href="">Bedding &amp; Linens</a></li>
                                <li><a href="">Interior Decorators</a></li>
                                <li><a href="">Interior Design</a></li>
                                <li><a href="">Home Staging</a></li>
                                <li><a href="">Game Rooms, Entertainment</a></li>
                                <li><a href="">Art &amp; Print</a></li>
                            </ul>
                            <span class="title">House Painters</span>
                            <ul>
                                <li><a href="">Art &amp; Print</a></li>
                                <li><a href="">Bedding &amp; Linens</a></li>
                                <li><a href="">Interior Decorators</a></li>
                                <li><a href="">Interior Design</a></li>
                                <li><a href="">Home Staging</a></li>
                                <li><a href="">Game Rooms, Entertainment</a></li>
                                <li><a href="">Art &amp; Print</a></li>
                            </ul>
                            <span class="title">Window Treatments</span>
                            <ul>
                                <li><a href="">Art &amp; Print</a></li>
                                <li><a href="">Bedding &amp; Linens</a></li>
                                <li><a href="">Interior Decorators</a></li>
                                <li><a href="">Interior Design</a></li>
                                <li><a href="">Home Staging</a></li>
                                <li><a href="">Game Rooms, Entertainment</a></li>
                                <li><a href="">Art &amp; Print</a></li>
                            </ul>
                            <a href="@Url.Action("Browse_category","Business_Home")" class="link">View All Categories</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script type="text/javascript">
    var UnitLocationId;
    //$(function () {
    //    $('#dtScreen').DataTable();
    //})
    function Delete(Data) {
        UnitLocationId = $(Data).attr('value');
    }

  
    function getCompanies() {
        var CategoryName = $("#txtCategoryName").val();
        var CityName = $("#txtCityName").val();

        var sortby = $("input[name='options']:checked").prop('id');
        if (sortby == 'undefined')
        { sortby = null }

        $.ajax({
            async: true,
            type: 'GET',
            cache: false,
            data: { CategoryName: CategoryName, CityName: CityName, Company_ID: -1 ,sortby: sortby },
            dataType: 'html',   //response format
            contentType: 'application/json; charset=utf-8', //request format
            crossDomain: true,
            url: '@Url.Action("_Company_list")',
            success: function (data) {
                debugger
               
                $('#companysearchResult').html(data);
                //$('#modal-AddScreen').modal('show');
                //$('.modal-body').height($('.col-md-12.AddScreen').height() + 10);
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        });
    }

    function addScreen() {

        $.ajax({
            dataType: "html",
            async: true,
            type: 'GET',
            cache: false,
            url: '@Url.Action("_Screen")',
            data: { Id: null },
            type: 'GET',
            success: function (data) {
                $('#AddScreen').html(data);
                $('#modal-AddScreen').modal('show');
                $('.modal-body').height($('.col-md-12.AddScreen').height() + 10);
            },
        });
    }
    $("input[name='options']").change(function () {
        getCompanies();
    });

    $(document).ready(function () {
        getCompanies();
     
       

        //$("body").delegate("#btnDelete", "click", function () {
        //    $.ajax({
        //        async: true,
        //        type: 'POST',
        //        cache: false,
        //        data: { Id: UnitLocationId },
        //        url: AdminVD + '/Catalog/DeleteRoleScreen',
        //        success: function (data) {
        //            if (data == "success") {
        //                Helper.Methods.ShowPopUp('Success', 'Screen deleted successfully!');
        //                setTimeout(function () {
        //                    location.reload();
        //                }, 500);
        //            }
        //        }
        //    });
        //});


    });
</script>