@model RenocanWeb.Models.Login
@*@{
        ViewBag.Title = "Client Category";
    }*@


<body>

    <div id="signing">
        <div class="content">
            <form method="post">
                @Html.AntiForgeryToken()
                <fieldset>
                    <label for="">Email Address</label>
                    @Html.TextBoxFor(m => m.Email, new { type = "email", placeholder = "", @maxlength = "50" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-red" })

                </fieldset>
                <fieldset>
                    <label for="">Password</label>
                    @Html.TextBoxFor(m => m.Password, new { placeholder = "", @maxlength = "50" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-red" })
                </fieldset>
                <fieldset>
                    <span class="forgot"><a href="">Forgot Password?</a></span>
                </fieldset>
                <input type="submit" value="Sign In">

                <div class="social">
                    <span>Sign In with Social Accounts</span>
                    <ul>



                        <li><a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook-official"></i></a></li>
                        <li> <a href="https://twitter.com/login/" class="twitter"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="https://mail.google.com/mail/" class="googleplus"><i class="fa fa-google-plus-square"></i></a></li>
                    </ul>
                </div>

                <!--<div class="error"><span><i class="fa fa-times"></i> Password Do Not Match</span></div>-->
            </form>
        </div>
    </div>


</body>
