@model RenocanWeb.Models.PasswordRecovery
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Password Recovery";
}

<body>
    <div class="overlay"></div>


    <div id="signing">
        <div class="content">
            <form method="post">

                @Html.AntiForgeryToken()

                @if (!String.IsNullOrEmpty(Model.Message))
                {
                   
                        <div class="error">
                            <span>  @Model.Message</span>
                        </div>
                    
                }
                <p>Please Enter your Email to Receive Url to Create your New Password.</p>
                <table>
                    <tr>
                        <td>
                            Email Address:
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Email, new { id = "txtEmail", placeholder = "Enter your email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-red" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.Captcha(5)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input id="btnContinue" type="submit" name="btnContinue" class="btnsub" value="Continue"></td>
                    </tr>
                </table>

                <h3>Type the characters you see in this image</h3>
                <p>
                    <strong>Has your e-mail address changed?</strong> If you no longer use the e-mail address associated<br>
                    with your Renocan account, you may contact <a href="javascript:;" target="_blank">Customer Service</a> for help
                    <br>
                    restoring access to your account.
                </p>

               
            </form>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {

        $('[id*=btnContinue]').click(function () {
            return ValidateForm();
        });


        $('#CaptchaDeText').siblings('a').click(function () {

            $('#CaptchaInputText').val('');

        });

        $('#CaptchaInputText').on('keypress', function (evt) {

            var charCode = (evt.which) ? evt.which : evt.keyCode

            if (charCode == 60 || charCode == 62) {
                return false;
            }
            return true;
        });
    });




    function ValidateForm() {
        var iserror = false;
        var email = $('[id*=txtEmail]');

        email.removeClass('error');

        if (email.val().trim() == '' || typeof email.val() == "undefined" || !Helper.Methods.ValidateEmail(email.val().trim())) {
            email.addClass('error');
            iserror = true;
        }
        return !iserror;
    }
</script>
